 

.div_bodega{
	background-color: #fdfdfd;
	padding: 60px 0px;
}

.div_bodega p{
	font-size: 25px;
}

.fotos_bodega{
	padding: 60px 40px;
}

.fotos_bodega .img-fluid {
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
}

@media (max-width: 768px){
	
	.div_bodega p{
		padding-top: 30px;
	}

}