#slide_vino{
	height: 350px;
	padding-top: 135px;
}

.text-slide{
	font-size: 24px;
padding: 50px 10px;
text-align: center;
}

.navbar{
	background-image: none;
}

.nav-link {

    color: #000 !important;

}

.navbar-brand{
	color: #000 !important;
}

#imagen_central{
	background-image: url('../img/carrusel/imagen3.jpg');
 	height: 300px;
}

main{
	margin-top:150px;
}

.nuestros_vinos .row{
	padding: 20px 0px;
}


.text-verificacion{
	font-size: 11px;
}
