body{
 
	font-family: "PT Serif", sans-serif;
	font-weight: 400;
	src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v10/EJRTQgYoZZY2vCFuvAFT_rC1chb-.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 
}

.form-group {

    margin-bottom: 20px;

}

#button_up{
	display: none;
	position: fixed;
bottom: 0px;
right: 0px;
margin: 30px;
background-color: #a6834280;
border: 2px solid #a68342;
border-radius: 150px;
padding: 12px 16px;
color: #fff;
}



/* CAMBIAR
.navbar{
	padding: 35px 0px;
 
	background-image: linear-gradient(#000F00, #fff0);
	position: absolute;
	float: left;
	top: 0px;
	z-index: 5000;
	width: 100%;
	background-color: #f000 !important;
	font-size: 16px;
	font-weight: 400;	
}*/

.navbar{
	padding: 35px 0px;
	/*background-image: linear-gradient(#000000b3, #fff0);*/
	background-image: linear-gradient(#000F00, #fff0);
	position: absolute;
	float: left; 
	z-index: 5000;
	width: 100%;
	background-color: #f000 !important;
	font-size: 16px;
	font-weight: 400;	
}

.navbar-brand{
	font-size: 50px;
	color: white !important;
}  

.navbar-brand-mobile{
	display: none;
}

.nav-link{
	color: white !important;
}

#carrusel_central{

}

.carousel-item{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
 	height: 100%;
 	min-height: 320px;
 	overflow: visible;

}

#navbar-br{
color: white;	

}

.carousel-inner img{
	width: inherit;
}


.linea_divisoria{
	background: #a68342;

height: 1px;

text-align: center;

width: 30%;

margin-top: 50px;

margin-bottom: 50px;

opacity: 0.5;
}


.text-subtitulo{
	font-size: 16px;
font-weight: 400;
color: rgb(102, 102, 102);
line-height: 22px;
margin-bottom: 40px;
}

.oscurecer{
	position: absolute;

top: 0px;

width: inherit;

background-color: #0000004d;

left: 0px;

z-index: 500;

height: inherit;
}

#texto{
 
	background-color:	#a6975e;
	font-size: 23px; 
	line-height: 35px; 
	font-weight: 700; 
	color: #ffffff; 
	letter-spacing: 0px;
	font-family:PT Serif;
	/*padding: 40px 20px;*/
	padding: 50px;
	position: relative;
	margin-top: -9.6%;
}

.btn-conoce-mas{
	border: 1px solid white;
    color: white;

}

.fila{
	padding: 50px 0px;
}



.fila_grey{
	background-color: #eaeaea1a;
}


.btn-comprar{
	background: #a68342;

border: 1px solid #907137;

padding: 10px 20px;
color: white;
font-weight: 400;font-size: 22px;
}

 

.text-slide{
	
	color: rgb(16, 24, 29);
	font-family: "PT Serif", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 54px;
	padding: 40px 30px; 
	text-align: center;
}

.imagen_central{ 
 	height: 300px;
 	background-size: cover;

background-repeat: no-repeat;

background-position: center center;
}


#div_submit{
	text-align: center;
}

.text-verificacion{
	font-size: 11px;
}
 
 
.body-blanco main{
	margin-top:150px !important;
} 


.body-blanco .navbar{
	top:0px;
} 


#texto{
	text-align: center;
}


/* FOOTER */

	footer{
	  -webkit-animation-duration: 3s;
	  -webkit-animation-delay: 2s;
	  -webkit-animation-iteration-count: infinite;
	}
	 
	footer {
	    padding-top: 77px;
	    background-color: #2d2d2d;
	    /*margin-top: 50px;*/
	    color: white;
	    padding-bottom: 177px;
	}

	footer p{
		margin:30px 0px;
		font-size: 13px;
	}

	footer ul{
		list-style: none;
	}


	.container .overlay:hover {
	  opacity: 1;	
	}

	h5.titulo_footer{
		color: #a6975e;
	 
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
	}

	footer p {
	    color: #FFFFFF;
	    font-family: "PT Serif", sans-serif;
	    font-size: 16px;
	    line-height: 25px;
	    font-style: normal;
	    font-weight: 300;
	    overflow-wrap: break-word;
	}

	footer  .fab{
		padding: 0px 20px ;
		color: #a68342;
	}

	footer ul{
		padding: 0px;
	}

	footer li{
		padding: 7px 0px;
	}

/*END FOOTER */




/* ROTAR IMAGENES */

	/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
	.flip-box 
	{
	  background-color: transparent;
	  width: 100%;
	  height: 100%;
	  /*border: 1px solid #f1f1f1;*/
	  border: none;
	  border-radius: 0px !important;
	  perspective: 1000px; /* Remove this if you don't want the 3D effect */
	}

	/* This container is needed to position the front and back side */
	.flip-box-inner {
	  position: relative;
	  width: 100%;
	  height: 253px;
	  text-align: center;
	  transition: transform 0.8s;
	  transform-style: preserve-3d;
	 
	}

	/* Do an horizontal flip when you move the mouse over the flip box container */
	.flip-box:hover .flip-box-inner {
	  transform: rotateY(180deg);
	}

	/* Position the front and back side */
	.flip-box-front, .flip-box-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  backface-visibility: hidden;
	}

	/* Style the front side (fallback if image is missing) */
	.flip-box-front {
	  background-color: #fff0;
	  color: black;
	}

	/* Style the back side */
	.flip-box-back {
	  background-color: #2d2d2d;
	  color: white;
	  transform: rotateY(180deg);
	  height:inherit !important;
	  padding: 20px;
	  z-index: 600;
	} 


	.flip-box-back h2{
		padding:20px;
	}

	.flip-box-front .img-fluid {

	    max-width: 100%;
	    height: 100%;
	    width: 100%;

	}

/* END ROTAR IMAGENES */

.titulo_slide{
 	    color: #FFF;
    text-align: center;
    padding-top: 10%;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

label {

    display: inline-block;
    margin-bottom: .5rem;
    padding-left: 20px;
    color: #d10a0a;

}
 

/* FORMULARIO */

	#horarios{
		text-align: center;
	}


	#horarios h2,
	#horarios h4
	{
		padding-bottom: 20px;
	}

	#horarios p
	{
		font-size: 20px;
	}

	#form_contacto
	{
		padding-bottom: 40px;
	}

	#form_contacto input 
	{
		height: 55px;
	}

	#form_contacto input,
	#form_contacto textarea
	{
		margin-bottom: 10px;
		line-height: 30px;
	 
	}

	#form_contacto textarea
	{
		height: 200px;
	}


/* END FORMULARIO */




/*
	Cambia a responsive segun boostrap
 */
@media (max-width: 991px){   
	
	footer{
		padding-bottom: 77px;
	}
	/* CAMBIAR
	main{
		margin-top:105px;
	}*/
	
	.body-blanco main {

	    margin-top: 107px !important;

	}

	h5.titulo_footer{

	}
	
	.text-slide{
 
	    font-size: 40px; 
	    font-weight: 400; 
	    line-height: 50px;
	}
	 

	.navbar-brand{
		display: none;
	} 

	.navbar{
		padding: 10px;
	}

	.navbar-brand-mobile{
			display: block; 
	}
	.nav-link {

	    color: #666666 !important;

	}
	/*
	.navbar-light .navbar-toggler{
		border: 1px solid #e9e9e9;
	    color: #f0e1e1;
	    padding: 10px 19px;
	    font-size: 30px;
	    background-color: #00000080;
	    margin-right: 20px;
	}*/

	.navbar-light .navbar-toggler{
 
	    color: #FFF;
	    padding: 10px 19px;
	    font-size: 30px; 
 
	}

	.navbar-light .navbar-blanco{
 
	    color: #000;
	    padding: 10px 19px;
 		border: none;
 
	}
		 
	#texto {	
 	
	    font-size: 15px;
	    padding: 15px;
	    
	} 	
	
	.navbar-toggler{

	    position: relative;   
	    left: 90% !important;

	}

	#navbarSupportedContent
	{
		 background-color: #fff !important;
		color: black;
		text-align: center;
	}
	
	.navbar-nav .nav-link {
	    padding: 20px 10px;
	    border-bottom: 0.5px solid #a6975e80;
	}

	.fila{
		text-align: center;
	}
	
	.navbar-brand{
		padding-left: 30px;
	}
	
	/* CAMBIAR
	main {

	    margin-top: 107px;

	}*/
 
}


@media (max-width: 768px){
	
	
	.footer{
		text-align: center;
	}
	
	/* CAMBIAR
	main {

	    margin-top: 150px;

	}*/

}