.img_producto{

	border-radius: 0px !important;
}

#vinos_aceites{
	padding: 50px 0px;
}

.titulo_servicio{
	position: relative;
	margin-top: -31% !important;
	color: #FFF;
	background-color: #a6975eb3;
	font-size: 27px;
	padding: 20px 0px;
 }

#div_aceite
{
background-color: #a6975e33;
padding: 20px 40px;

}

#div_vinos
{
 
padding: 20px 40px;

}


#video {
	height: 650px;
} 



.text-video{
	padding: 60px;
	background-color: #0000004d;	
	width: 80%;
	position: relative;
	bottom: 96%;
	left: 10%;
	color: white;
}

.servicio{

	padding-left: 0px; 
	padding-right: 0px;
}


#productos{
	padding: 30px 0px;
	height: 322px;
}



/* Imagenes overlay */


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #2D2D2D99;
	color: white: ;
	margin: auto;
	text-align: center;
	padding: 20px;
	font-weight: 500;
}


section{
	padding-bottom: 30px;
}


/* Media querys */
 


@media (max-width: 768px){
	
	
	#carrusel .carousel-inner {
		height: 280px;
	}

 
	.carousel-inner img {
    	width: inherit;
    	height: inherit;
	}
 

}