body{
 
    font-family: 'PT Serif';
  
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v10/EJRTQgYoZZY2vCFuvAFT_rC1chb-.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 
}

h5.titulo_footer{
	color: #a6975e;
 
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
}

.navbar{
	padding: 75px 0px;
	/*background-image: linear-gradient(#000000b3, #fff0);*/
	background-image: linear-gradient(#000F00, #fff0);
	position: absolute;
	float: left;
	top: 0px;
	z-index: 5000;
	width: 100%;
	background-color: #f000 !important;
	font-size: 16px;
	font-weight: 400;	
}

.nav-link{
	color: white !important;
}


.carousel-item{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
 	height: 100%;
 	overflow: visible;

}

#navbar-br{
color: white;	

}

.carousel-inner img{
	width: inherit;
}

.img_producto{

	border-radius: 0px !important;
}

#vinos_aceites{
	padding: 50px 0px;
}

.titulo_servicio{
	position: relative;

margin-top: -50% !important;

color: #FFF;

background-color: #a6975eb3;

font-size: 27px;

padding: 20px 0px;
 }

#div_aceite
{
background-color: #a6975e33;
padding: 20px 40px;

}

#div_vinos
{
 
padding: 20px 40px;

}
/*
#carrusel_div_1{
	background-image: url('../img/carrusel/imagen1.jpg'); 
}

#carrusel_div_2{
	background-image: url('../img/carrusel/imagen2.jpg'); 
}

#carrusel_div_3{
	background-image: url('../img/carrusel/imagen3.jpg'); 
}*/

/*
 #video ,#producto{
	visibility: hidden;
}*/


 #video {
	height: 650px;
} 

#texto{
	/*
	padding: 40px;
	/*background-color: #393939;
	background-color: #2d2d2d;
	color: rgb(166, 151, 94);
	font-size: 30px;
	font-weight: 100;	
	*/
	background-color:	#a6975e;
	font-size: 23px; 
	line-height: 35px; 
	font-weight: 700; 
	color: #ffffff; 
	letter-spacing: 0px;
	font-family:PT Serif;
	padding: 40px 20px;
	position: relative;
	margin-top: -12.6%;
}

.text-video{
	padding: 60px;
background-color: #0000004d;	
width: 80%;
position: relative;
top: -385px;
left: 10%;
color: white;
}

.servicio{

	padding-left: 0px; 
	padding-right: 0px;
}


#productos{
	padding: 30px 0px;
	height: 322px;
}

#button_up{
	display: none;

position: fixed;

bottom: 0px;

right: 0px;

margin: 30px;

background-color: #f000;

border: 2px solid #2d2d2d;

border-radius: 150px;

padding: 16px 20px;

color: #aba0a0b3;
}

/* ANIMACIONES */


footer{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

/* FOOTER */


footer{
	padding: 50px 30px;
	background-color: #2d2d2d;
	margin-top: 50px;
	color:white;
}

footer p{
	margin:30px 0px;
	font-size: 13px;
}

footer ul{
	list-style: none;
}


/* Imagenes overlay */


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #2D2D2D99;
	color: white: ;
	margin: auto;
	text-align: center;
	padding: 20px;
	font-weight: 500;
}

.container .overlay:hover {
  opacity: 1;	
}


/* ROTAR IMAGENES */

 /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /*border: 1px solid #f1f1f1;*/
  border: none;
  border-radius: 0px !important;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 253px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
 
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #fff0;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #2d2d2d;
  color: white;
  transform: rotateY(180deg);
  height:inherit !important;
  padding: 20px;
} 


.flip-box-back h2{
	padding:20px;
}

.flip-box-front .img-fluid {

    max-width: 100%;
    height: 100%;
    width: 100%;

}


/* Media querys */
 


@media (max-width: 991px){   
	
	.navbar-brand{
		display: none;
	} 

	.navbar{
		padding: 10px;
	}
	 
	#texto {	
 	
	    font-size: 15px;
	    padding: 15px;
	    
	} 	
	
	.navbar-toggler{

	    position: relative;   
	    left: 90% !important;

	}
 
}

 