body{
	font-family: 'Comfortaa', cursive;
}

.footer{
	padding: 50px 30px;
	background-color: #393939FF;
}

h5.titulo_footer{
	color: rgb(166, 151, 94);
	font-family: "PT Serif", sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
}

.navbar{
	padding: 30px 0px;
	background-image: linear-gradient(#000000b3, #fff0);
	position: absolute;
	float: left;
	top: 0px;
	z-index: 5000;
	width: 100%;
	background-color: #f000 !important;
	font-size: 16px;
	font-weight: 400;	
}

.nav-link{
	color: white !important;
}


.carousel-item{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 600px;

}

#carrusel_div_1{
	background-image: url('../img/carrusel/imagen1.jpg'); 
}

#carrusel_div_2{
	background-image: url('../img/carrusel/imagen2.jpg'); 
}

#carrusel_div_3{
	background-image: url('../img/carrusel/imagen3.jpg'); 
}


#texto{
	padding: 40px;
	background-color: #393939;
	color: rgb(166, 151, 94);
	font-size: 30px;
	font-weight: 100;
}

.text-video{
	padding: 60px;
background-color: #0000004d;
width: 80%;
position: relative;
top: -385px;
left: 10%;
color: white;
}


#productos{
	padding: 60px 0px;
}